/* Estilos para o corpo da página */
/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: #dbd0d0;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
}

/* Estilos para o contêiner da lista de tarefas */
.container {
    background-color: #fff;
    width: 600px; /* Defina o tamanho fixo em 600px */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 10px;
}

/* Resto dos estilos permanecem os mesmos */


/* Estilos para o cabeçalho da lista de tarefas */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para o input e botão */
.input-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

input.nova_tarefa {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button.btn_tarefa {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos para a lista de tarefas */
.lista-wrapper {
    max-height: 50vh; /* Defina a altura máxima para acionar a barra de rolagem */
    overflow: auto; /* Adicionar barra de rolagem quando necessário */
}

ul.lista_tarefa {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

ul.lista_tarefa li {
    flex: 0 0 calc(33.33% - 10px);
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
