/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #dbd0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Estilos para o contêiner da lista de tarefas */
.container {
    background-color: #fff;
    max-width: 100%; /* Use 100% para adaptar a largura a todas as telas */
    width: 40%; /* Limita a largura do contêiner */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 10px; /* Adicione margem para separar do limite da tela */
}

/* Estilos para o cabeçalho da lista de tarefas */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para o input e botão */
div {
    display: flex;
    flex-direction: column; /* Mude para uma coluna em telas menores */
    align-items: center;
    margin-top: 10px;
}

input.nova_tarefa {
    flex-grow: 1;
    width: 100%; /* Ocupa toda a largura disponível */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; /* Adicione espaço entre o input e o botão */
}

button.btn_tarefa {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 50%;
}

/* Estilos para a lista de tarefas */
ul.lista_tarefa {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

ul.lista_tarefa li {
    display: flex;
    flex-direction: column; /* Mude para uma coluna em telas menores */
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
}

ul.lista_tarefa li .tarefa_text {
    flex-grow: 1;
    width: 100%; /* Ocupa toda a largura disponível */
}

ul.lista_tarefa li button.excluir_tarefa {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
